body {
  background-color: rgb(52, 89, 54);
  font-family: sans-serif;
}

.container {
  margin: 5% 20%;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input {
  display: flex;
  flex-direction: column;
  margin: 2% 7%;
}
input {
  padding-top: 8%;
  margin: 4% 0;
  border-radius: 5px;
  border: 2px solid #ccc;
}
label {
  opacity: 0.4;
}

button {
  background-color: rgb(232, 87, 87);
  color: azure;
  border-style: none;
  border-radius: 3px;
}
